body {
  position: relative;
  background-color: #fff;
  font-family: "Nanum Gothic", sans-serif;
  max-width: 375px;
  margin: 0 auto;
  border: 1px solid #eee;
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.hide {
  display: none !important;
}

.cb_clear:before,
.cb_clear:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.cb_clear:after {
  clear: both;
}

.cb_clear {
  zoom: 1;
}

.fll {
  float: left !important;
}

.flr {
  float: right !important;
}

.purchase__process {
  text-align: center;
  padding: 5em 2em;
  line-height: 5;
  background: #eee;

  p {
    color: #333;
  }
}
