button {
  margin: 1em 2px;
  border-radius: 5px;
  padding: 0.7em 5.5em;
  border: none;
  font-size: 0.8rem;
  &.surgery {
    background-color: #ececec;
    color: #818181;

    &:hover {
      background-color: #8888;
    }
  }

  &.discount {
    background-color: #fdf1f5;
    color: #ff6095;

    &:hover {
      background-color: #ffd9e5;
    }
  }

  &.next {
    width: 100%;
    background: #9885f0;
    color: #fff;

    &:hover {
      background-color: #735ae8;
    }
  }
}
