.discount__targetList {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  padding: 4em 1em;
  text-align: center;
  background: #fff;
  input {
    border: 1px solid #ddd;
    padding: 0.3em 0.3em;
  }
  h2 {
    font-size: 0.9em;
    margin-bottom: 1em;
  }
}

main {
  max-height: 550px;
  overflow: auto;
  section {
    &.noItems {
      text-align: center;
    }
    &.cursor-none {
      cursor: default;
    }
    padding: 1em 0.7em;
    position: relative;
    cursor: pointer;
    .items__wrapper {
      small {
        font-size: 0.7rem;
        color: #bbb;
      }
      .name {
        padding-top: 0.5em;
        margin: 0.3em 0 0.3em 0;
        border-top: 1px solid #eee;
        font-weight: 600;
        font-size: 0.9rem;
        h2 {
          width: 80%;
          line-height: 1.2em;
        }
      }
      span {
        font-size: 0.8rem;
        color: #333;
        letter-spacing: 0.5px;

        &.strike {
          text-decoration: line-through;
          color: #888;
        }

        &.discountPrice {
          display: block;
          color: #ff2b73;
          font-weight: 600;
        }

        &.discountPercent {
          color: #f797b9;
        }
      }
      i {
        position: absolute;
        right: 1em;
        top: 3em;
        color: #9281f3;
      }

      .items__wrapper__surgery--buttons {
        float: right;
        height: 25px;
        border: 1px solid #eee;
        border-radius: 10px;
        select {
          border-radius: 10px 0 0 10px;
          background: #f7f6f7;
          color: #5f5f5f;
          outline: none;
          border: none;
          height: 100%;
          vertical-align: bottom;
          padding: 0 0.3em;
        }
        .delete-surgery {
          margin: 0;
          border-radius: 0 10px 10px 0;
          border: none;
          font-size: 0.7em;
          height: 100%;
          padding: 0 0.7em;
          background: #ececec;

          &:hover {
            background-color: #fdf1f5;
          }
        }

        .modify-discount {
          margin: 0;
          border-radius: 10px;
          border: none;
          font-size: 0.7em;
          height: 100%;
          padding: 0 0.7em;
          background: #ececec;

          &:hover {
            background-color: #fdf1f5;
          }
        }
      }
    }
  }
}
